<!-- https://cooltext.com/Render-Image?RenderID=444640617223705&LogoId=4446406172  -->

<tbody>
    <tr>
        <td class="leftHeader"></td>

        <td id="navBar">
            <a href="/">
                <img src=<%= textLogoBig %> alt="The Wormwood River">
            </a>
            
            <form action="/search" id="searchForm">
                <div id="searchBar">
                    <input id="search" type="search" name="Query" placeholder="Search..." value="" autocomplete="off">
                </div>
            </form>
        </td>

        <td class="rightHeader"></td>
    </tr>
</tbody>