<!-- https://cooltext.com/Render-Image?RenderID=444640617223705&LogoId=4446406172  -->

<nav id="navbar">
    <ul>
        <li class="leftHeader">.</li>

        <li>
            <a href="/">
                <img src="images/logos/wrFull.png" alt="The Wormwood River">
            </a>
        </li>

        <li>
            <form action="/search" id="searchForm">
                <div id="searchBar">
                    <input id="search" type="search" name="Query" placeholder="Search..." value="" autocomplete="off">
                </div>
            </form>
            </li>
        <li class="rightHeader">.</li>
    </ul>
</nav>
