<!-- https://cooltext.com/Render-Image?RenderID=444640617223705&LogoId=4446406172  -->

<link rel="stylesheet" href="css/navbar.css">

<nav id="navbar">
    <ul>

        <li class="leftHeader"></li>

        <li>
            <a href="/">
                <img src="images/logos/wr.png" alt="The Wormwood River">
            </a>
        </li>

        <li>
            <a href="https://www.youtube.com/shorts/YaVqmQhpU80">YouTube</a>
        </li>

        <li class="rightHeader"></li>

    </ul>
</nav>
