<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/template.css">
    <title><%= title %></title>
</head>
<body>

    <img src="images/logos/wrFull.png" alt="Wormwood Logo" id="headerLogo" draggable="false">

    <%- include("includes/navbar") %>

    <form action="/product" method="post">
        <button type="submit" value="1">asd</button>
    </form>
    
</body>
</html>
