<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <img src="<%= logoLink %>" alt="<%= logo %>">
    <h1><%= header %></h1>
    <p>Look over the images from Kentaro Miura and use his art style.
        Look over images for the PC first person shooters and learn the style of the characters and guns.
        Create an image of the person Griffith from the manga Berserk.
        In the image I want Griffith to look like he would be a 
        character in a first person shooter. He should be be wearing a machine gun and camping in a courner waiting for an enemy</p>
</body>
</html>

