nav {
    position: sticky;
    top: 0;
}

nav .leftHeader {
    padding: 15px;
    width: 160px;
    margin: 0;
}

nav .rightHeader {
    padding: 15px;
    width: 160px;
    margin: 0;
    float: right;
}

nav img {
    width: auto;
    height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #251717;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #331f1f;
}

nav #searchBarItem {
    float: right;
}
